*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.nav-bar{
    display: block;
    background-color: skyblue;
}
.right{
    float: right;
    padding: 20px;
}
.right ul li{
    display: inline-block;
}
.right ul li a{
    text-decoration: none;
    padding: 20px;
}
.left{
    padding: 20px;
}

.left ul li{
    display: inline-block;
}
.left ul li a{
    text-decoration: none;
    padding:20px
}
.left a:hover{
    background-color: aqua;
    box-shadow: 0 0 1px 1px;
}
.right a:hover{
    background-color: aqua;
    box-shadow: 0 0 1px 1px;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
    margin: 20px;
}
section{
    width: 100%;
    height: auto;
    justify-content: center;
    display: flex;
    background-color: rgb(184, 214, 241);
}

.container{
    margin: 60px;
    padding: 10px;
    border: 1px solid black;
    box-shadow: 3px 3px rgb(182, 198, 193);
    text-align: center;
    width: 20%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}
footer p{
    text-align: center;
    font-size: 30px;
}
