body{
    font-family: 'Times New Roman', Times, serif;
}
*{
    margin: 0%;
    padding: 0%;
    list-style: none;
    text-decoration: none;
}
.leftbar{
    position: fixed;
    left: 0%;
    width: 250px;
    height: 100%;
    background: purple;
}
.leftbar header{
    font-size: 25px;
    color: white;
    text-align: center;
    line-height: 80px;
    user-select: none;
}
.leftbar ul a{
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 2px solid purple;
    border-bottom: 2px solid purple;
    transition: .4s;
}
ul li:hover a{
    padding-left: 50px;
}
.leftbar ul a i{
    margin-right: 16px;
}
h1{
    text-align: center;
    padding: 50px;
    border: 50px;
    background-color: blue;
}
section{
    padding-left: 16.5%;
    justify-content: center;
    display: flex;   
}
.container{
    position: relative;
    width: 1200px;
    height: 300px;
    margin: 50px auto;
}
.container .box{
    position: relative;
    width: calc(400px - 30px);
    height: calc(300px - 30px);
    background: yellow;
    float: left;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px; 
}
.container .box .icon{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: red;
    transition: 0.5s;
    z-index: 1;
}
.container .box:hover .icon{
    top: 20px;
    left: calc(50% - 40px);
    width: 80px;
    height:80px;
    border-radius: 50%;

}
.container .box .icon .fa{
    position:absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size: 80px;
    transition: 0.5s;
    color: aqua;
}
.container .box:hover .icon .fa{
    font-size: 80px;
}
.container .box .content{
    position: absolute;
    top: 100px;
    height: calc(100% -100px);
    text-align: center;
    padding: 20px;
    box-sizing: border-box ;
    transition: 0.5s;
}
.container .box:nth-child(1) .icon{
    background-image: 
    linear-gradient(90deg, red,purple) ;
}
.container .box:nth-child(1) {
    background-image: 
    linear-gradient(90deg, blue,purple) ;
}
.container .box:nth-child(2) .icon{
    background-image: 
    linear-gradient(90deg, red,orange) ;
}
.container .box:nth-child(2) {
    background-image: 
    linear-gradient(90deg, aqua, brown) ;
}
.container .box:nth-child(3) .icon{
    background-image: 
    linear-gradient(90deg, red,orange) ;
}
.container .box:nth-child(3) {
    background-image: 
    linear-gradient(90deg, red,purple) ;
}
section2{
    padding-left: 16%;
    justify-content: center;
    display: flex; 
}
form {
    width: 300px;
    padding: 20px;
    border-radius: 5px;
    backdrop-filter: blur(20px);
    border: 3px solid #c40909;
    color: #f0f0f0;
  }
  
  h5 {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-weight: bold;
    color: #f0f0f0;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background: #cd1313;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button:hover {
    background: #62050a;
  }
  
  a {
    text-decoration: none;
    color: #cd1313;
    font-weight: bold;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  footer {
    background : linear-gradient(to right,#00093c,#2d0b00,#c40821);
    color: #f0f0f0;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
    padding: 100px 0 30px;
    border-top-left-radius:125px;
    
  }
  img{
    height: 100px;
  }
  h5{
    color: black;
    height: 40px;
    font-size: 60px;
    align-items: center;
  }